<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>istart</servlet-name>
        <servlet-class>nz.ac.massey.cs.webtech.s_17272381.server.istart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>move</servlet-name>
        <servlet-class>nz.ac.massey.cs.webtech.s_17272381.server.move</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>won</servlet-name>
        <servlet-class>nz.ac.massey.cs.webtech.s_17272381.server.won</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>possiblemoves</servlet-name>
        <servlet-class>nz.ac.massey.cs.webtech.s_17272381.server.possiblemoves</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ustart</servlet-name>
        <servlet-class>nz.ac.massey.cs.webtech.s_17272381.server.ustart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>state</servlet-name>
        <servlet-class>nz.ac.massey.cs.webtech.s_17272381.server.state</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>istart</servlet-name>
        <url-pattern>/ttt/istart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>won</servlet-name>
        <url-pattern>/ttt/won</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>possiblemoves</servlet-name>
        <url-pattern>/ttt/possiblemoves</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ustart</servlet-name>
        <url-pattern>/ttt/ustart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>state</servlet-name>
        <url-pattern>/ttt/state</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>move</servlet-name>
        <url-pattern>/ttt/move/*</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
