


.navButton {
    position: relative;
    margin-left: 220px;
    width: 25%;
    border-color: #ae4141;
    color: red;
    float: left;
    height: 30px;
    line-height: 30px;
    font-size: 15px;
    border: 1px solid #cc0000;
    text-decoration: none;
    text-align: center;
    border-radius: .25rem;
    box-sizing: border-box;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}

.navButton:hover {
    color: white;
    background-color:red;
}

.code_box {
    font: 18px/20px Consolas,Lucida Console,Menlo,Monaco,monospace;
    margin: 0;
    padding: 1em;
    margin: 1.5em 0;
    overflow: auto;
    background: #f5f2f0;
}

.let {
    color: #4286f4;
    font-weight: 700;
}

.comment {
    color: #708090;
}


.solution1, .answer1, .solution2, .answer2 {

    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    display: block ;
    margin: 18px 0;
    padding: 4px 12px;
    border-radius: 15px;
    border: 2px solid #568dca;
    font: inherit;
    line-height: inherit;
    line-height: 18px;
    text-decoration: none;
}

.solution1:hover, .solution2:hover {
    color: red;
}
.answer1,.answer2 {
    background-color: aliceblue;
    padding: 25px;
    display: none;
}

